In [12]:
import pandas as pd
df = pd.read_csv(r"C:\Users\brian\Desktop\JUNSOO\data_sP\Maple_exp.csv")

In [ ]:
df

In [13]:
df.drop(columns = ["전 구간 대비 증가율","누적 경험치","열1","열2"] , inplace = True)
df["level"] = df["레벨 구간"].str.split().str[0]
df["need_exp"] = df["필요 경험치"]

In [15]:
df

        레벨 구간                 필요 경험치 level               need_exp
0   260 → 261      1,731,919,984,062   260      1,731,919,984,062
1   261 → 262      1,749,239,183,902   261      1,749,239,183,902
2   262 → 263      1,766,731,575,741   262      1,766,731,575,741
3   263 → 264      1,784,398,891,498   263      1,784,398,891,498
4   264 → 265      1,802,242,880,412   264      1,802,242,880,412
5   265 → 266      2,342,915,744,535   265      2,342,915,744,535
6   266 → 267      2,366,344,901,980   266      2,366,344,901,980
7   267 → 268      2,390,008,350,999   267      2,390,008,350,999
8   268 → 269      2,413,908,434,508   268      2,413,908,434,508
9   269 → 270      2,438,047,518,853   269      2,438,047,518,853
10  270 → 271      5,412,465,491,853   270      5,412,465,491,853
11  271 → 272      5,466,590,146,771   271      5,466,590,146,771
12  272 → 273      5,521,256,048,238   272      5,521,256,048,238
13  273 → 274      5,576,468,608,720   273      5,576,468,608,720
14  274 → 275      5,632,233,294,807   274      5,632,233,294,807
15  275 → 276     11,377,111,255,510   275     11,377,111,255,510
16  276 → 277     12,514,822,381,061   276     12,514,822,381,061
17  277 → 278     13,766,304,619,167   277     13,766,304,619,167
18  278 → 279     15,142,935,081,083   278     15,142,935,081,083
19  279 → 280     16,657,228,589,191   279     16,657,228,589,191
20  280 → 281     33,647,601,750,165   280     33,647,601,750,165
21  281 → 282     37,012,361,925,181   281     37,012,361,925,181
22  282 → 283     40,713,598,117,699   282     40,713,598,117,699
23  283 → 284     44,784,957,929,468   283     44,784,957,929,468
24  284 → 285     49,263,453,722,414   284     49,263,453,722,414
25  285 → 286     99,512,176,519,276   285     99,512,176,519,276
26  286 → 287    109,463,394,171,203   286    109,463,394,171,203
27  287 → 288    120,409,733,588,323   287    120,409,733,588,323
28  288 → 289    132,450,706,947,155   288    132,450,706,947,155
29  289 → 290    145,695,777,641,870   289    145,695,777,641,870
30  290 → 291    294,305,470,836,577   290    294,305,470,836,577
31  291 → 292    323,736,017,920,234   291    323,736,017,920,234
32  292 → 293    356,109,619,712,257   292    356,109,619,712,257
33  293 → 294    391,720,581,683,482   293    391,720,581,683,482
34  294 → 295    430,892,639,851,830   294    430,892,639,851,830
35  295 → 296    870,403,132,500,696   295    870,403,132,500,696
36  296 → 297    957,443,445,750,765   296    957,443,445,750,765
37  297 → 298  1,053,187,790,325,841   297  1,053,187,790,325,841
38  298 → 299  1,158,506,569,358,425   298  1,158,506,569,358,425
39  299 → 300  1,737,759,854,037,637   299  1,737,759,854,037,637

In [16]:
df = df[["level","need_exp"]]

In [19]:
df["need_exp"] = df["need_exp"].str.replace(",","")
df["need_exp"] = df["need_exp"].astype("int64")
df

C:\Users\brian\AppData\Local\Temp\ipykernel_5452\3849306613.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["need_exp"] = df["need_exp"].str.replace(",","")
C:\Users\brian\AppData\Local\Temp\ipykernel_5452\3849306613.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["need_exp"] = df["need_exp"].astype("int64")

   level          need_exp
0    260     1731919984062
1    261     1749239183902
2    262     1766731575741
3    263     1784398891498
4    264     1802242880412
5    265     2342915744535
6    266     2366344901980
7    267     2390008350999
8    268     2413908434508
9    269     2438047518853
10   270     5412465491853
11   271     5466590146771
12   272     5521256048238
13   273     5576468608720
14   274     5632233294807
15   275    11377111255510
16   276    12514822381061
17   277    13766304619167
18   278    15142935081083
19   279    16657228589191
20   280    33647601750165
21   281    37012361925181
22   282    40713598117699
23   283    44784957929468
24   284    49263453722414
25   285    99512176519276
26   286   109463394171203
27   287   120409733588323
28   288   132450706947155
29   289   145695777641870
30   290   294305470836577
31   291   323736017920234
32   292   356109619712257
33   293   391720581683482
34   294   430892639851830
35   295   870403132500696
36   296   957443445750765
37   297  1053187790325841
38   298  1158506569358425
39   299  1737759854037637

In [20]:
df.to_csv(r"C:\Users\brian\Desktop\JUNSOO\Project\Game_domain\data\test_data\maple_exp.csv")

In [5]:
from datetime import datetime, timedelta

date = datetime.now().strftime("2024-%m-%d")
print(date)

2024-08-18

In [6]:
date = (datetime.now() - timedelta(1)).strftime("2024-%m-%d")
print(date)

2024-08-17